#X64 rootfs path
FAKE_ROOT_X64=~/code/install/x64
#FAKE_ROOT_X64=/root/install #x64 docker

#zone rootfs path
FAKE_ROOT_ZONE=~/code/install/zone

#win32 rootfs path
FAKE_ROOT_WIN32=~/code/install/win32

#win32_x86 rootfs path
FAKE_ROOT_WIN32_X86=~/code/install/win32_x86

#stm32 rootfs path
FAKE_ROOT_STM32=~/code/install/stm32

#自定义toolchain path
# 如果本机是 aarch64，则留空
TOOLCHAIN_DIR_ZONE=/usr/bin
TOOLCHAIN_DIR_WIN32=~/code/install/win32/bin
TOOLCHAIN_DIR_WIN32_X86=~/code/install/win32_x86/bin
TOOLCHAIN_DIR_STM32=~/code/install/toolchain/arm-gnu-toolchain-13.3.rel1-x86_64-arm-none-eabi/bin
